Flask
adafruit-blinka
adafruit-circuitpython-ads1x15
Adafruit_Python_DHT
smbus2
RPi.GPIO

# Za razvoj na sustavima koji nisu RPi
# Instalirati s: pip install -r requirements.txt
# Za pokretanje testova na non-Pi sustavu:
# pip install fake-rpi
# Zatim pokrenuti skripte s FAKE_RPI=1
fake-rpi