:root {
  --background-color: #f8f9fa;
  --text-color: #212529;
  --card-background: #ffffff;
  --table-stripe-color: #f2f2f2;
  --border-color: #dee2e6;
  --input-background: #fff;
  --input-text: #495057;
  --button-background: #0d6efd;
  --button-text: #fff;
  --chart-background: #f0f0f0;
  --chart-grid-color: rgba(0, 0, 0, 0.1);
  --chart-label-color: #666;
}

[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: #e8e6e3;
  --card-background: #2a2a2a;
  --table-stripe-color: #2c3034;
  --border-color: #444;
  --input-background: #333;
  --input-text: #e8e6e3;
  --button-background: #007bff;
  --button-text: #ffffff;
  --chart-background: #333333;
  --chart-grid-color: rgba(255, 255, 255, 0.1);
  --chart-label-color: #ccc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

#chart-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.left-table {
  max-height: 60vh;
  overflow: auto;
}

td,
th {
  font-size: 0.85rem;
  border-color: var(--border-color);
}

.table {
    color: var(--text-color);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: var(--table-stripe-color);
    color: var(--text-color);
}

.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: var(--background-color);
    color: var(--text-color);
}

.table-light {
    --bs-table-bg: var(--card-background);
    --bs-table-border-color: var(--border-color);
}

.table-container {
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
}

.table thead th {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--card-background); /* Pozadina za header */
    border-bottom: 2px solid var(--border-color);
}

.unstable {
  background-color: #fff3cd !important;
}

[data-theme="dark"] .unstable {
  background-color: #665d1e !important;
}

canvas {
  background-color: var(--chart-background);
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

#relayDurations {
  margin-top: 8px;
  font-size: 0.95rem;
}

pre {
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
}


#theme-switcher {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: var(--card-background);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

#theme-switcher:hover {
    transform: scale(1.1);
}

/* Responsive fixes */
@media (max-width: 768px) {
  #chart-wrap > div {
    flex-direction: column;
  }
  canvas {
    width: 100% !important;
    height: 200px !important;
  }
}
